<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liangjian.ticket.mapper.UserMapper">
    <select id="getUsers" resultType="com.liangjian.ticket.entity.User">
        SELECT * FROM user
    </select>

    <select id="getUserByTel" resultType="com.liangjian.ticket.entity.User">
        SELECT * FROM user WHERE tel = #{tel}
    </select>

    <select id="getUsersByCondition" resultType="com.liangjian.ticket.entity.User">
        SELECT * FROM user
        <where>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
            <if test="lastName != null and lastName != ''">
                and last_name = #{lastName}
            </if>
            <if test="firstName != null and firstName != ''">
                and first_name = #{firstName}
            </if>
            <if test="idCard != null and idCard != ''">
                and id_card = #{idCard}
            </if>
        </where>
    </select>
</mapper>